nav{
  background: plum;
  padding: 10px;
  ;
  .active{
    color: white;
    font-weight: bold;
  }

  a{
    font-size: 20px;
  }
  ul{
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
}

.card{
  
}