    .btn{
        padding: 10px 20px;
        display: inline-block;
        border: none;
        border-radius: 5px;
    }

    .btn:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        color: white;
    }
    
    .btn-warning:hover {
        color: orange;
    }
    .btn-error{
        background: red;
    }

    .btn-warning{
        background: yellow;
    }

    .btn-accepted{
        background: green;
    }

    .btn-normal{
        background: blue;
    }

    table {
        width: 30%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
    }
    th, td {
        padding: 12px 15px;
        border: 1px solid #ddd;
    }

    tbody tr {
        td:nth-child(odd) {
            background-color: #8f8d8d;
        }
        td:nth-child(even) {
            background-color: #c5c4c4;
        }
    }
    .row {
        display: flex;
    }
    
    .zut-1 {
        flex: 1;
        border: 1px solid #000;
        height: 150px;
    }
    
    .zut-2 {
        flex: 2;
        border: 1px solid #000;
        height: 150px;
    }
    
    .zut-4 {
        flex: 4;
        border: 1px solid #000;
        height: 150px;
    }